body .main{
  margin-top: 30px;
}

body[dark] .card-header{
  background: 	#282828;
  color: white;
}

body .card-header{
  background:	#430f02;
  color: white;
}

body[dark] .app-body{
  background: #363636;
  background: -webkit-gradient(linear, left top, left top, from(#CCCCCC), to(#363636));
}

body[dark] .card-body{
  background: #A9A9A9;
  color: black;
}

body .card-body{
  background: #dcdcdc;
  color: black;
  border: 5px solid white;
}

body[dark] .card-footer{
  background: #1C1C1C;
  color: white;
}

body[dark] .text-muted{
  color: black!important;
}

body[dark] .image{
  background: #A9A9A9;
}

body .image{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSSgCCOcns3I2zyJsc43t1XgcJbqDMz8DIISAVRuKv1GkaCqxOe");
  width: auto;
  height: auto;
  border: 10px solid white;
}

body[dark] .image{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSSgCCOcns3I2zyJsc43t1XgcJbqDMz8DIISAVRuKv1GkaCqxOe");
  width: auto;
  height: auto;
  border: 10px solid black;
}

body[dark] .ql-toolbar ql-snow{
  background: #A9A9A9;
  color: white;
}

body[dark] .jumbotron{
  background: #696969;
  color: white;
}

body[dark] .app-header{
  background: #000000;
  color: white;
}

body .app-header{
  background: #800000;
  color: white;
}

body[dark] .nav{
  background: #000000;
  color: white;
}

body .nav-link{
  color: white!important;
}

body .nav-link:hover{
  color: #DCDCDC!important;
}

body[dark] .nav-link:hover{
  color: #DCDCDC!important;
}

body[dark] .nav-link{
  color: white!important;
}

body .d-lg-none{
  margin-left: 5px;
  background: white;
}